@charset "utf-8";
/* CSS Document */
body {
   ///// 
   background-color: #eaeaea;
   margin-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;  
}   
 

BODY {
   FONT-FAMILY: Arial, Helvetica;
   /////
   COLOR: #000000;
   //COLOR: #333;
   
   background-color: #eaeaea;
   //BACKGROUND-COLOR: #ffffff; 
   FONT-SIZE: 11px;
   
   MARGIN: 0px
   
}



.FondoConten {
        BACKGROUND-IMAGE: url(../img/fondo.jpg);
        
	BACKGROUND-REPEAT: repeat-y;
	BACKGROUND-POSITION: 50% 0%;
	HEIGHT: 25px
}


h3{
   margin-top: 10px;
   margin-bottom: 0px;
   font-size: 12px;
}       

h2{
   margin-top: 0px;
   font-size: 14px;
   color: #303030;
}   
        
.BannerHeader {
 /*BACKGROUND-IMAGE: url(../img/Dibujo.jpg);*/
   BACKGROUND-IMAGE: url(../img/headerSis2016_1_.jpg);
   BACKGROUND-REPEAT: no-repeat;
   BACKGROUND-POSITION: 50% 0%; 
   MARGIN-BOTTOM: 1em;  
   HEIGHT: 160px;   
   width: 1280px        
}       
        
.FondoBarralogos {
   BACKGROUND-IMAGE: url(../img/titulo.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 0%; MARGIN-BOTTOM: 1em; HEIGHT: 50px
}
.FondoMenutop {
   BACKGROUND-IMAGE: url(../img/headerSis2016_2_.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 0%; MARGIN-BOTTOM: 1em; HEIGHT: 50px; /*width:1280px *//***********/ 
} 
    
/*.FondoMenutop1 {
   BACKGROUND-IMAGE: url(../img/headerSis2016_22.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 0%; MARGIN-BOTTOM: 1em; HEIGHT: 30px; width:1280px ********* 
}   */
//headerSis2016_y_
//headerSis2016_22

.MenuVerde {
  PADDING-LEFT: 3px;        
   PADDING-RIGHT: 3px
}
.MenuTop {
   TEXT-ALIGN: center;
   FONT-FAMILY: Arial, Helvetica;
   COLOR: #ffffff;
   FONT-SIZE: small;
   FONT-WEIGHT: bold;
   TEXT-DECORATION: none
}
.MenuTop:link {
   COLOR: #ffffff
}
.MenuTop:visited {
   COLOR: #ffffff
}
.MenuTop:hover {
   COLOR: #ffffff
}
.MenuTop:active {
   COLOR: #ffffff
}
.TituloSecciones {
   PADDING-BOTTOM: 9px;
   COLOR: #d21145;
   FONT-SIZE: small;
   FONT-WEIGHT: normal;
   text-align: center;
}
.MenuSecciones {
   BACKGROUND-IMAGE: url(../img/menuBack1.jpg);
   BACKGROUND-REPEAT: no-repeat;
   BACKGROUND-POSITION: 50% 0%;
   HEIGHT: 35px;
   font-family: Verdana, Geneva, sans-serif;
   font-size: small;
   color: #676767;
   text-align: left;
   vertical-align: middle;
   padding-left: 14px;
}
.MenuSecciones a:link{
   COLOR: #58B31B;
   text-decoration: none;
}
.MenuSecciones a:visited{
   COLOR: #58B31B;
   text-decoration: none;
}
.MenuSecciones:hover{
   COLOR: #d21145;
   background-image: url(../img/menuBack2.jpg);
   text-decoration: none;
}
.MenuSecciones a:hover{
   COLOR: #d21145;
   text-decoration: none;
}
.MenuSecciones a:active{
   COLOR: #58B31B;
   background-image: url(../img/menuBack3.jpg);
   text-decoration: none;
}

    

/*
.MenuseccActivo
   Estilo para indicar que una seccion del menu esta activa
   es decir que "Usted esta aqui"

*/
.MenuseccActivo {
   BACKGROUND-REPEAT: no-repeat;
   BACKGROUND-POSITION: 50% 0%;
   HEIGHT: 35px;
   font-family: Verdana, Geneva, sans-serif;
   font-size: small;
   color: #676767;
   text-align: left;
   vertical-align: middle;
   padding-left: 14px;
   background-image: url(../img/udEstAqui.jpg);
}
.MenuseccActivo a:link{
   COLOR: #d21145;
   text-decoration: none;
}
.MenuseccActivo a:visited{
   COLOR: #d21145;
   text-decoration: none;
}
.MenuseccActivo a:hover{
   COLOR: #d21145;
   text-decoration: none;
}
.MenuseccActivo a:active{
   COLOR: #d21145;
   background-image: url(../img/menuBack3.jpg);
   text-decoration: none;
}

    
    
/*
.FondoConten {
        BACKGROUND-IMAGE: url(../img/fondo.jpg);
        
	BACKGROUND-REPEAT: repeat-y;
	BACKGROUND-POSITION: 50% 0%;
	HEIGHT: 25px
}
*/

.FondoSubmenu {
   BACKGROUND-IMAGE: url(../img/menuSub.jpg);
   BACKGROUND-REPEAT: no-repeat;
   BACKGROUND-POSITION: 50% 0%;
   HEIGHT: 29px;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 1em;
   color: #c6cc9e;
   text-align: left;
   padding-left: 35px;
}

.FondoSubmenu a:link {
   COLOR: #58B31B;
   text-decoration: none;
}
.FondoSubmenu a:visited {
   COLOR: #58B31B;
   text-decoration: none;
}
.FondoSubmenu:hover {
   COLOR: #d21145;
   text-decoration: none;
}
.FondoSubmenu a:hover {
   COLOR: #d21145;
   text-decoration: none;
}
.FondoSubmenu a:active {
   COLOR: #58B31B;
   text-decoration: none;
}


.linkFechas {
   font-family: Verdana, Geneva, sans-serif;
   color: #FFF;
   text-align: center;
}

.linkFechas a:link {
   COLOR: #FFF;
   text-decoration: none;
}
.linkFechas a:visited {
   COLOR: #FFF;
   text-decoration: none;
}

.linkFechas a:hover {
   COLOR: #FFF;
   text-decoration: none;
}
.linkFechas a:active {
   COLOR: #FFF;
   text-decoration: none;
}


/* Estilos para los submenues activos */
.FondoSubmenuActivo {
   background-image: url(../img/udEstAqui.jpg);
   BACKGROUND-REPEAT: no-repeat;
   BACKGROUND-POSITION: 50% 0%;
   HEIGHT: 29px;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 1em;
   text-align: left;
   padding-left: 35px;
   padding-top: 3px;
}

.FondoSubmenuActivo a:link {
   COLOR: #d21145;
   text-decoration: none;
}
.FondoSubmenuActivo a:visited {
   COLOR: #d21145;
   text-decoration: none;
}

.FondoSubmenuActivo a:hover {
   COLOR: #d21145;
   text-decoration: none;
}
.FondoSubmenuActivo:hover {
   COLOR: #58B31B;
   text-decoration: none;
}

.FondoSubmenuActivo a:active {
   COLOR: #58B31B;
   text-decoration: none;
}

/*
a:link {
   COLOR: #000;
   text-decoration: none;
}
a:visited {
   COLOR: #000;
   text-decoration: none;
}
a:hover {
   COLOR: #000;
   text-decoration: none;
}
a:active {
   COLOR: #000;
   text-decoration: none;
}
*/
a.subLink:visited {
   COLOR: #58B31B;
   text-decoration: none;
}

.tabbox {
   cellSpacing:1;
   cellPadding:1;
   clear: both;
   border: 4px solid #5aa92a;
   background-color: #ffffff;
   //background-color: #eaeaea;
}
.tabtits1 {
   FONT-WEIGHT: bold;
   FONT-SIZE: small;
   /*COLOR: #5aa92a;*/
   COLOR:#000000;
   FONT-FAMILY: Arial, Helvetica, sans-serif;
   background-color: #E1E1E1;
   text-align: right;
   padding-right: 10px;
}
.tabboxColor {
   clear: both;
   /*border: 8px solid #686868;*/
   border: 8px solid #58A928;
}
.tabboxPestanauno {
   BACKGROUND-IMAGE: url(../img/pestanaA.jpg);
   BACKGROUND-REPEAT: no-repeat;
   font-family: Arial, Helvetica, sans-serif;
   font-size: small;
   color: #FFF;
   text-align: left;
   font-weight: bolder;
   padding-left: 5mm;
   padding-top: 1mm;
}
.tabboxPestanados {
   BACKGROUND-IMAGE: url(../img/pestanaB.jpg);
   BACKGROUND-REPEAT: no-repeat;
   width: 160px;
   height: 40px;
   vertical-align: bottom;
   cursor: pointer;
}
.tabboxPestanados:link {
   background-image: url(../img/pestanaB.jpg);
}
.tabboxPestanados:visited {
   background-image: url(../img/pestanaB.jpg);
}
.tabboxPestanados:hover {
   background-image: url(../img/pestanaBov.jpg);
}
.tabboxPestanados:active {
   background-image: url(../img/pestanaB.jpg);
}
.tabInstrucciones {
   BACKGROUND-IMAGE: url(../img/fonInstru2.jpg);
   BACKGROUND-REPEAT: repeat-x;
   BACKGROUND-POSITION: 100% 70%;
   /* HEIGHT: 144px; */
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
   color: #666;
   text-align: left;
   vertical-align: top;
   padding-top: 3mm;
   padding-bottom: 2mm;
   padding-left: 3mm;
   font-weight: bold;
}
.tabText {
   FONT-WEIGHT: normal;
   FONT-SIZE: x-small;
   COLOR: #999;
   FONT-FAMILY: Arial, Helvetica, sans-serif;
   text-align: left;
   width: 160px;
   height: 25px;
   padding-left: 10px;
   padding-top: 10px;
}
.tabBot {
   BACKGROUND-IMAGE: url(../img/botFlechaDer.png);
   BACKGROUND-REPEAT: no-repeat;
   background-color: white;
   //background-color: #eaeaea;
   BACKGROUND-POSITION: 0% 0%;
   
   font-weight: bold;
   font-size:small;
   text-align: center;  
        
   
   HEIGHT: 24px;
   font-family: Verdana, Geneva, sans-serif;
  
   color: #6b6b6b;
   
   width: 125px;
   padding-bottom: 4px;
   border: 0;
   cursor: pointer;
}
.tabBot:link {
   background-image: url(../img/botFlechaDer.png);
}
.tabBot:visited {
   background-image: url(../imgbotFlechaDer.png);
}
.tabBot:hover {
   background-image: url(../img/botFlechaDer2.png);
}
.tabBot:active {
   background-image: url(../img/botFlechaDer.png);
}














.tabBotLarg {
   BACKGROUND-IMAGE: url(../img/botDer.png);
   background-color: white;
   BACKGROUND-REPEAT: no-repeat;
   BACKGROUND-POSITION: 0% 0%;
   HEIGHT: 24px;
   font-family: Verdana, Geneva, sans-serif;
   font-size: small;
   color: #6b6b6b;
   text-align: center;
   width: 146px;
   border: 0;
   cursor: pointer;
   padding-bottom: 4px;
}
.tabBotLarg:link {
   background-image: url(../img/botLar.png);
}
.tabBotLarg:visited {
   background-image: url(../img/botLar.png);
}
.tabBotLarg:hover {
   background-image: url(../img/botLarOver.png);
}
.tabBotLarg:active {
   background-image: url(../img/botLar.png);
}

.tabBotLeft {
	BACKGROUND-IMAGE: url(../img/botFlechaIzq.png);
        background-color: white;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
	font-family: Verdana, Geneva, sans-serif;
        
        font-weight: bold;
        font-size:small;
        text-align: center;  
        
	
	color: #6b6b6b;
	width: 146px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}
.tabBotLeft:link {
	background-image: url(../img/botFlechaIzq.png);
}
.tabBotLeft:visited {
	background-image: url(../img/botFlechaIzq.png);
}
.tabBotLeft:hover {
	background-image: url(../img/botFlechaIzq2.png);
}
.tabBotLeft:active {
	background-image: url(../img/botFlechaIzq.png);
}




.tabBotConfirmar {
	BACKGROUND-IMAGE: url(../img/confBotA.jpg);
    background-color: white;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	color: #6b6b6b;
	text-align: center;
	width: 235px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}
.tabBotConfirmar:hover{
	background-image: url(../img/confBotB.jpg);
}
.tabBotConfirmar:link {
	background-image: url(../img/confBotA.jpg);
}
.tabBotConfirmar:visited {
	background-image: url(../img/confBotA.jpg);
}
.tabBotConfirmar:active {
	background-image: url(../confBotA.jpg);
}



.tabBotInicio {
	BACKGROUND-IMAGE: url(../img/consulta.png);
    background-color: white;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	color: #6b6b6b;
	text-align: center;
	width: 146px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}

.tabBotInicio:hover{
	background-image: url(../img/consultaRoll.png);
}

.tabBotNuevo {
	BACKGROUND-IMAGE: url(../img/botNew.png);
    background-color: white;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	color: #6b6b6b;
	text-align: center;
	width: 100px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}

.tabBotNuevo:hover{
	background-image: url(../img/botNewRoll.png);
}

.tabBotLeftM {
	BACKGROUND-IMAGE: url(../img/botMLIzq.png);
        background-color: white;
        
        font-weight: bold;
        font-size:small;
        text-align: center;  
        
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
	font-family: Verdana, Geneva, sans-serif;
	color: #6b6b6b;
	width: 200px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}

.tabBotLeftM:hover{
	background-image: url(../img/botMLIzqRoll.png);
}

.tabBotLargM {
	BACKGROUND-IMAGE: url(../img/botMLDer.png);
        background-color: white;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
            
        font-weight: bold;
        font-size:small;
        text-align: center;  
            
	font-family: Verdana, Geneva, sans-serif;
	color: #6b6b6b;
	width: 200px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}







.tabBotLargM225 {
	BACKGROUND-IMAGE: url(../img/botDer225.png);
        background-color: white;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
            
        font-weight: bold;
        font-size:small;
        text-align: center;  
            
	font-family: Verdana, Geneva, sans-serif;
	color: #6b6b6b;
	width: 225px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}

.tabBotLargM225:hover{
	background-image: url(../img/botDer225roll.png);
}






.tabBotLeftM225 {
	BACKGROUND-IMAGE: url(../img/botIzq225.png);
        background-color: white;
        
        font-weight: bold;
        font-size:small;
        text-align: center;  
        
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
	font-family: Verdana, Geneva, sans-serif;
	color: #6b6b6b;
	width: 225px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}

.tabBotLeftM225:hover{
	background-image: url(../img/botIzq225roll.png);
}







.tabBotLargMm {
	BACKGROUND-IMAGE: url(../img/boton+Larg.png);
    background-color: white;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0% 0%;
	HEIGHT: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	color: #6b6b6b;
	text-align: center;
	width: 150px;
	border: 0;
	cursor: pointer;
	padding-bottom: 4px;
}

.tabBotLargM:hover{
	background-image: url(../img/botMLDerRoll.png);
}

                
    
.PiePagina {
   BACKGROUND-IMAGE: url(../img/footerSis2026_.jpg);
   TEXT-ALIGN: center;
   BACKGROUND-REPEAT: no-repeat;
   BACKGROUND-POSITION: 50% 0%;
   MARGIN-BOTTOM: 7px;
   HEIGHT: 199px
}

/* ESTILOS PARA LA TABLA DE ADMINISTRACION*/
.encAdminCCT{
   color: white;
   font-weight: bold;
}

.tabtits2 {
   FONT-WEIGHT: bold;
   FONT-SIZE: small;
   COLOR: #FFF;
   FONT-FAMILY: Arial, Helvetica, sans-serif;
   background-color: #BBBBBB;
   text-align: center
}

.tabtits3 {
   text-align: right;
   padding-right: 10px;
   background-color: #E1E1E1;
}


.formtits{
	color:#5CA629;
}

.formtitsrojo{
	color:#CC4949;
}
    
.tabContenido{
background-color:#F7F7F7;
}

.tabContenido2{
font-weight: bold;
padding-left: 0px;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }