BODY {
	FONT-FAMILY: Arial, Helvetica; COLOR: #000000; FONT-SIZE: 11px
}
TD {
	FONT-FAMILY: Arial, Helvetica; COLOR: #000000; FONT-SIZE: 11px
}
TH {
	FONT-FAMILY: Arial, Helvetica; COLOR: #000000; FONT-SIZE: 11px
}
BODY {
	BACKGROUND-COLOR: #ffffff; MARGIN: 0px
}
A {
	COLOR: #000000; FONT-SIZE: 11px
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #000000
}
A:hover {
	COLOR: #d31145
}
A:active {
	COLOR: #000000
}
.TituloPrograma {
	PADDING-BOTTOM: 10px; COLOR: #d21145; FONT-SIZE: 2em; FONT-WEIGHT: bold
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.floatLeft {
	FLOAT: left
}
.floatRight {
	FLOAT: right
}
.imagen-izquierda {
	MARGIN-BOTTOM: 0px; FLOAT: left; VERTICAL-ALIGN: text-top; MARGIN-RIGHT: 6px
}
.imagen-derecha {
	MARGIN-BOTTOM: 6px; FLOAT: right; MARGIN-LEFT: 26px; VERTICAL-ALIGN: text-top
}
.imagen-banner {
	MARGIN-BOTTOM: 6px; FLOAT: left; VERTICAL-ALIGN: text-top; MARGIN-RIGHT: 7px
}
.SerieImagenes {
	MARGIN-BOTTOM: 15px
}
DIV.TextoJustificado {
	TEXT-ALIGN: justify; WIDTH: 100%; FLOAT: left; VERTICAL-ALIGN: text-top
}
DIV.TemasContenidoCentral {
	TEXT-ALIGN: left; WIDTH: 100%; FLOAT: left; VERTICAL-ALIGN: text-top
}
.toolbar {
	MARGIN-BOTTOM: 4px; FLOAT: right
}
P {
	TEXT-ALIGN: justify; PADDING-BOTTOM: 14px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: text-top; PADDING-TOP: 0px
}
.MenuTop {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-LEFT: 10px; WIDTH: 800px; PADDING-RIGHT: 0px; FONT: bold 13px/25px Arial; BACKGROUND: url(../web/menutopoff.gif) repeat-x center center; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.MenuTop LI {
	DISPLAY: inline
}
.MenuTop LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: left; COLOR: white; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.MenuTop LI A:visited {
	COLOR: white
}
.MenuTop LI A:hover {
	LINE-HEIGHT: 25px; BACKGROUND: url(../web/img/menutopover.gif) repeat-x center center; HEIGHT: 25px; COLOR: white
}
.MenuTop LI .current {
	LINE-HEIGHT: 25px; BACKGROUND: url(../web/img/menutopover.gif) repeat-x center center; HEIGHT: 25px; COLOR: white
}
.FondoConten {
        BACKGROUND-IMAGE: url(../img/fondo.jpg);
        
	BACKGROUND-REPEAT: repeat-y;
	BACKGROUND-POSITION: 50% 0%;
	HEIGHT: 25px
}
.MenuDependenciasContenedor {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.MenuTopdependencias {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica; COLOR: #ffffff; FONT-SIZE: 1em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.MenuTopdependencias:link {
	COLOR: #ffffff
}
.MenuTopdependencias:visited {
	COLOR: #ffffff
}
.MenuTopdependencias:hover {
	COLOR: #ffffff
}
.MenuTopdependencias:active {
	COLOR: #ffffff
}
.MenuTopdependencias:unknown {
	COLOR: #ffffff
}
TH {
	
}
.sobre {
	
}
.sobre-hover {
	
}
.sobre:hover {
	TEXT-ALIGN: center; BACKGROUND: url(../web/img/menutopover.gif) repeat-x 50% 0%; HEIGHT: 40px
}
.sobre-hover {
	TEXT-ALIGN: center; BACKGROUND: url(../web/img/menutopover.gif) repeat-x 50% 0%; HEIGHT: 40px
}
TH.CeldaMenuTopdependencias:hover {
	TEXT-ALIGN: center; BACKGROUND: url(../web/img/menutopover.gif) repeat-x 50% 0%; HEIGHT: 40px
}
.FondoMenutopdependencias {
	BACKGROUND-IMAGE: url(../web/img/fondomenuVerde.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 0%; MARGIN-BOTTOM: 1em; HEIGHT: 50px
}
.BannerHeader {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 0%
}
.PlecaHeader {
	BACKGROUND-IMAGE: url(../web/img/barraLogos.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 0%; HEIGHT: 52px
}
.PiePagina {
	BACKGROUND-IMAGE: url(../web/img/piepagina.jpg); TEXT-ALIGN: center; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 0%; MARGIN-BOTTOM: 7px; HEIGHT: 84px
}
.CajaBuscador {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; FONT-FAMILY: Arial; COLOR: #999999; FONT-SIZE: 12px; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid
}
.TituloTop {
	FONT-FAMILY: Arial; COLOR: #ffffff; FONT-SIZE: 2em; FONT-WEIGHT: bold
}
.TituloTopDependencias {
	TEXT-ALIGN: left; FONT-FAMILY: Arial; COLOR: #ffffff; FONT-SIZE: 2.5em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.SubtituloTop {
	FONT-FAMILY: Arial; COLOR: #ffffff; FONT-SIZE: 1.4em; FONT-WEIGHT: bold
}
.TituloPrincipal {
	PADDING-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica; COLOR: #d21145; FONT-SIZE: 2em; FONT-WEIGHT: bold
}
.TituloRojo {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica; COLOR: #d21145; FONT-SIZE: 1em; FONT-WEIGHT: bold
}
.TituloVerde {
	PADDING-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica; COLOR: #7ac142; FONT-SIZE: 1em; FONT-WEIGHT: bold
}
.EncabezadoPrincipal {
	BACKGROUND-IMAGE: url(../web/img/barratituloprincipal.gif); PADDING-BOTTOM: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: "Gill Sans MT", Geneva, Arial; HEIGHT: 39px; COLOR: #d21145; FONT-SIZE: 2.1em; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.SubtituloPrincipal {
	PADDING-BOTTOM: 0px; FONT-FAMILY: "Gill Sans MT", Geneva, Arial; COLOR: #d31145; FONT-SIZE: 1.7em; FONT-WEIGHT: bold
}
.TituloEventosGobierno {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica; COLOR: #d31145; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.TituloBuscador {
	PADDING-BOTTOM: 11px; FONT-FAMILY: Arial; COLOR: #333333; FONT-SIZE: 1em; FONT-WEIGHT: bold
}
.Fuente {
	PADDING-BOTTOM: 10px; FONT-FAMILY: Arial, Helvetica; COLOR: #666666; FONT-SIZE: 1em; FONT-WEIGHT: normal
}
.TextoPiePagina {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; FONT-FAMILY: Arial, Helvetica; COLOR: #666666; FONT-SIZE: 1em; FONT-WEIGHT: normal
}
.PieFoto {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1em; WIDTH: 188px; FONT-FAMILY: Arial, Helvetica; COLOR: #333333; FONT-SIZE: 1em; FONT-WEIGHT: normal
}
.TituloNoticiaCatalogo {
	PADDING-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica; COLOR: #d21145; FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.TituloSeguridadPrincipal {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 0px; BACKGROUND: url(../web/img/barratituloverdeolivo.gif) #003300 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.TituloGobiernoPrincipal {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 0px; BACKGROUND: url(../web/img/barratituloverdebandera.gif) #003300 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.TituloEstadoPrincipal {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 0px; BACKGROUND: url(../web/img/barratituloverdebandera.gif) #003300 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.TituloEventosPrincipal {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 0px; BACKGROUND: url(../web/img/barratituloverde2.jpg) #003300 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.TituloEscribemeGris {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 0px; BACKGROUND: url(../web/img/barratitulogris.gif) #666666 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.TituloServicios {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 0px; BACKGROUND: url(../web/img/barratituloverde.gif) #003300 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.MenuAZ {
	BORDER-BOTTOM: #7ac142 1px solid; BORDER-LEFT: #7ac142 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT: bold 13px/25px Arial; BACKGROUND: #ebebeb; HEIGHT: 25px; OVERFLOW: hidden; BORDER-TOP: #7ac142 1px solid; BORDER-RIGHT: #7ac142 1px solid; PADDING-TOP: 0px
}
.MenuAZ LI {
	DISPLAY: inline
}
.MenuAZ LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; FLOAT: left; COLOR: #666666; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.MenuAZ LI A:visited {
	COLOR: #666666
}
.MenuAZ LI A:hover {
	LINE-HEIGHT: 25px; BACKGROUND: #7ac142; HEIGHT: 25px; COLOR: white
}
.MenuAZ LI .current {
	LINE-HEIGHT: 25px; BACKGROUND: #7ac142; HEIGHT: 25px; COLOR: white
}
.LigaMasInformacion {
	TEXT-ALIGN: right; FONT-FAMILY: Arial, Helvetica; COLOR: #d31145; FONT-SIZE: 1.1em; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.LigaMasInformacion:link {
	COLOR: #d31145
}
.LigaMasInformacion:visited {
	COLOR: #d31145
}
.LigaMasInformacion:hover {
	COLOR: #7ac142
}
.LigaMasInformacion:active {
	COLOR: #d31145
}
.LigaVerdeTramites {
	PADDING-BOTTOM: 0px; FONT-FAMILY: Arial; COLOR: #d31145; FONT-SIZE: 1em; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.LigaVerdeTramites:link {
	COLOR: #d31145
}
.LigaVerdeTramites:visited {
	COLOR: #d31145
}
.LigaVerdeTramites:hover {
	COLOR: #7ac142
}
.LigaVerdeTramites:active {
	COLOR: #d31145
}
.SubtituloTemasTramites {
	PADDING-BOTTOM: 0px; FONT-FAMILY: "Gill Sans MT", Geneva, Arial; COLOR: #7ac142; FONT-SIZE: 1.7em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.SubtituloTemasTramites:link {
	COLOR: #7ac142
}
.SubtituloTemasTramites:visited {
	COLOR: #7ac142
}
.SubtituloTemasTramites:hover {
	COLOR: #d31145; TEXT-DECORATION: underline
}
.SubtituloTemasTramites:active {
	COLOR: #7ac142
}
.SubtituloTemasTramitesVerde {
	PADDING-BOTTOM: 0px; FONT-FAMILY: "Gill Sans MT", Geneva, Arial; COLOR: #7ac142; FONT-SIZE: 1.7em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.MenuListaAreasTramites {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaAreasTramites UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaAreasTramites UL LI {
	PADDING-BOTTOM: 0px
}
.MenuListaAreasTramites UL LI A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #000000; FONT-SIZE: 1.1em; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaAreasTramites UL LI A:visited {
	COLOR: #7ac142
}
.MenuListaAreasTramites UL LI A:hover {
	COLOR: #d31145
}
.LigaTemasTramites {
	TEXT-ALIGN: right; FONT-FAMILY: Arial, Helvetica; COLOR: #000000; FONT-SIZE: 1.1em; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.LigaTemasTramites:link {
	COLOR: #000000
}
.LigaTemasTramites:visited {
	COLOR: #000000
}
.LigaTemasTramites:hover {
	COLOR: #7ac142; TEXT-DECORATION: underline
}
.LigaTemasTramites:active {
	COLOR: #000000
}
.LigaEnlaceExterno {
	TEXT-ALIGN: right; FONT-FAMILY: Arial, Helvetica; COLOR: #d31145; FONT-SIZE: 1.1em; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.LigaEnlaceExterno:link {
	COLOR: #d31145
}
.LigaEnlaceExterno:visited {
	COLOR: #d31145
}
.LigaEnlaceExterno:hover {
	COLOR: #7ac142
}
.LigaEnlaceExterno:active {
	COLOR: #d31145
}
.LigaContenidoCentral {
	TEXT-ALIGN: left; LINE-HEIGHT: 1.3em; FONT-FAMILY: Arial, Helvetica; COLOR: #333333; FONT-SIZE: 1.2em; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.LigaContenidoCentral:link {
	COLOR: #333333
}
.LigaContenidoCentral:visited {
	COLOR: #333333
}
.LigaContenidoCentral:hover {
	COLOR: #7ac142
}
.LigaContenidoCentral:active {
	olor: #333333
}
.TituloBanner {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica; COLOR: #333333; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.TituloBanner:link {
	COLOR: #333333; TEXT-DECORATION: none
}
.TituloBanner:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.TituloBanner:hover {
	COLOR: #d00016; TEXT-DECORATION: none
}
.TituloBanner:active {
	TEXT-DECORATION: none; olor: #333333
}
.DescripcionBanner {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; LINE-HEIGHT: 11px; FONT-FAMILY: Arial, Helvetica; COLOR: #666666; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
.Migas {
	TEXT-ALIGN: left; FONT-FAMILY: Arial; COLOR: #666666; FONT-SIZE: 1em; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.MigasCurrent {
	TEXT-ALIGN: left; FONT-FAMILY: Arial; COLOR: #666666; FONT-SIZE: 1em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.LigaMigas {
	TEXT-ALIGN: left; FONT-FAMILY: Arial; COLOR: #666666; FONT-SIZE: 1em; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.LigaMigas:link {
	COLOR: #666666; TEXT-DECORATION: underline
}
.LigaMigas:visited {
	COLOR: #666666; TEXT-DECORATION: underline
}
.LigaMigas:hover {
	COLOR: #d31145; TEXT-DECORATION: underline
}
.LigaMigas:active {
	TEXT-DECORATION: underline; olor: #666666
}
.LigaBusquedaAvanzada {
	TEXT-ALIGN: right; LINE-HEIGHT: 16px; FONT-FAMILY: Arial; COLOR: #333333; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.LigaBusquedaAvanzada:link {
	COLOR: #333333; FONT-WEIGHT: bold
}
.LigaBusquedaAvanzada:visited {
	COLOR: #333333; FONT-WEIGHT: bold
}
.LigaBusquedaAvanzada:hover {
	COLOR: #d31145; FONT-WEIGHT: bold
}
.LigaBusquedaAvanzada:active {
	FONT-WEIGHT: bold; olor: #333333
}
.MenuListaRojo {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaRojo .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratitulorojo.gif) #d31145 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.MenuListaRojo UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaRojo UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListaRojo UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaRojo UL LI A:visited {
	COLOR: #333333
}
.MenuListaRojo UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #d31145
}
.MenuListaVerde {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaVerde .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratituloverde.gif) #3a9100 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.MenuListaVerde .headerbarmenu {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratituloverde.gif) #3a9100 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.MenuListaVerde UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaVerde UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListaVerde UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaVerde UL LI A:visited {
	COLOR: #333333
}
.MenuListaVerde UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #7ac142
}
.MenuListaVerde LI .current {
	BACKGROUND: url(../web/img/bulletverde-abajo.gif) no-repeat left center; COLOR: #7ac142
}
.MenuListaVerde LI .currentsimple {
	BACKGROUND: url(../web/img/bulletverde.gif) #f3f3f3 no-repeat left center; COLOR: #7ac142
}
.MenuGris {
	TEXT-ALIGN: left; WIDTH: 100%; height: 223px
}
.MenuGris .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratituloblanco.gif) #f3f3f3 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.MenuGris .headerbarmenu {
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 4px;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 0px;
	FONT: bold 1.1em Arial;
	MARGIN-BOTTOM: 10px;
	BACKGROUND: url(../web/img/barratituloblanco.gif) #f3f3f3 repeat-x left center;
	COLOR: #7c838b;
	PADDING-TOP: 4px;
	text-decoration: none;
}
.MenuGris UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuGris UL LI {
	PADDING-BOTTOM: 2px
}
.MenuGris UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuGris UL LI A:visited {
	COLOR: #333333
}
.MenuGris UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #7ac142
}
.MenuGris LI .current {
	BACKGROUND: url(../web/img/bulletverde-abajo.gif) no-repeat left center; COLOR: #7ac142
}
.MenuGris LI .currentsimple {
	BACKGROUND: url(../web/img/bulletverde.gif) #f3f3f3 no-repeat left center; COLOR: #7ac142
}
.SubmenuListaVerde {
	TEXT-ALIGN: left; WIDTH: 100%
}
.SubmenuListaVerde .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratituloverde.gif) repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.SubmenuListaVerde UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.SubmenuListaVerde UL LI {
	PADDING-BOTTOM: 2px
}
.SubmenuListaVerde UL LI A {
	BORDER-BOTTOM: #dadada 0px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.SubmenuListaVerde UL LI A:visited {
	COLOR: #333333
}
.SubmenuListaVerde UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #7ac142
}
.SubmenuListaVerde LI .current {
	BACKGROUND: url(../web/img/bulletverde.gif) #f3f3f3 no-repeat left center; COLOR: #7ac142
}
.MenuListaBlanca {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaBlanca .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratituloblanco.gif) #3a9100 repeat-x left center; COLOR: #666666; PADDING-TOP: 4px
}
.MenuListaBlanca UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaBlanca UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListaBlanca UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaBlanca UL LI A:visited {
	COLOR: #333333
}
.MenuListaBlanca UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #7ac142
}
.MenuListaServicios {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaServicios .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 2px; BACKGROUND: url(../web/img/bulletverde.gif) no-repeat left center; COLOR: #666666; PADDING-TOP: 4px
}
.MenuListaServicios UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaServicios UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListaServicios UL LI A {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 10px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #333333; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaServicios UL LI A:visited {
	COLOR: #333333
}
.MenuListaServicios UL LI A:hover {
	COLOR: #7ac142
}
.MenuListaVerde2 {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaVerde2 .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratituloverde2.jpg) #009107 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.MenuListaVerde2 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaVerde2 UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListaVerde2 UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaVerde2 UL LI A:visited {
	COLOR: #333333
}
.MenuListaVerde2 UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #7ac142
}
.MenuListaOtrosServicios {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaOtrosServicios .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratituloverde2.jpg) #009107 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.MenuListaOtrosServicios UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaOtrosServicios UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListaOtrosServicios UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaOtrosServicios UL LI A:visited {
	COLOR: #333333
}
.MenuListaOtrosServicios UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #7ac142
}
.MenuListaGris {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaGris .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratitulogris.gif) #676767 repeat-x left center; COLOR: white; PADDING-TOP: 4px
}
.MenuListaGris UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaGris UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListaGris UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaGris UL LI A:visited {
	COLOR: #333333
}
.MenuListaGris UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #d31145
}
.MenuListadoTramites {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListadoTramites .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT: bold 1.2em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: #ebebeb; COLOR: #7c838b; PADDING-TOP: 4px
}
.MenuListadoTramites UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListadoTramites UL LI {
	PADDING-BOTTOM: 8px
}
.MenuListadoTramites UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletcuadritogris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListadoTramites UL LI A:visited {
	COLOR: #333333
}
.MenuListadoTramites UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #d31145
}
.MenuListaGrisSimple {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaGrisSimple .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/bulletcuadritorojo.gif) #ffffff no-repeat left center; COLOR: #d31145; PADDING-TOP: 4px
}
.MenuListaGrisSimple .itemsimple {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletcuadritogris.gif) no-repeat left center; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaGrisSimple UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaGrisSimple UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListaGrisSimple UL LI A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletcuadritogris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaGrisSimple UL LI A:visited {
	COLOR: #333333
}
.MenuListaGrisSimple UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #d31145
}
.MenuListadoTemas {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListadoTemas .headerbar {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; FONT: bold 1.1em Arial; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/barratituloverde.gif) #7ac142 repeat-x left center; COLOR: #ffffff; PADDING-TOP: 4px
}
.MenuListadoTemas UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListadoTemas UL LI {
	PADDING-BOTTOM: 2px
}
.MenuListadoTemas UL LI A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletcuadritogris.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 1.1em; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListadoTemas UL LI A:visited {
	COLOR: #333333
}
.MenuListadoTemas UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #d31145
}
.MenuListaPrograma {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuListaPrograma UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 15px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuListaPrograma UL LI {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 13px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletcuadritorojo.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 1.1em; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuListaPrograma UL LI A:visited {
	COLOR: #333333
}
.MenuListaPrograma UL LI A:hover {
	COLOR: #d31145
}
.MenuLista {
	TEXT-ALIGN: left; WIDTH: 100%
}
.MenuLista UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.MenuLista UL LI {
	PADDING-BOTTOM: 2px
}
.MenuLista UL LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #333333; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.MenuLista UL LI A:visited {
	COLOR: #333333
}
.MenuLista UL LI A:hover {
	COLOR: #d31145; TEXT-DECORATION: underline
}
.LigaVerTodos {
	TEXT-ALIGN: left; WIDTH: 100%
}
.LigaVerTodos UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 7px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.LigaVerTodos UL LI {
	PADDING-BOTTOM: 0px
}
.LigaVerTodos UL LI A {
	BORDER-BOTTOM: #dadada 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; MARGIN-BOTTOM: 10px; BACKGROUND: url(../web/img/bulletmas.gif) no-repeat left center; COLOR: #d31145; FONT-SIZE: 100%; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.LigaVerTodos UL LI A:visited {
	COLOR: #d31145
}
.LigaVerTodos UL LI A:hover {
	BACKGROUND-COLOR: #f3f3f3; COLOR: #333333
}
.LigaPlanEstudio {
	TEXT-ALIGN: right; PADDING-BOTTOM: 6px; PADDING-LEFT: 35px; FONT-FAMILY: Arial, Helvetica; BACKGROUND: url(../web/img/iconoplanestudios.gif) no-repeat left center; COLOR: #d31145; FONT-SIZE: 1em; FONT-WEIGHT: normal; TEXT-DECORATION: underline; PADDING-TOP: 6px
}
.LigaPlanEstudio:link {
	BACKGROUND: url(../web/img/iconoplanestudios.gif) no-repeat left center; COLOR: #d31145
}
.LigaPlanEstudio:visited {
	BACKGROUND: url(../web/img/iconoplanestudios.gif) no-repeat left center; COLOR: #d31145
}
.LigaPlanEstudio:hover {
	BACKGROUND: url(../web/img/iconoplanestudios.gif) no-repeat left center; COLOR: #7ac142
}
.LigaPlanEstudio:active {
	BACKGROUND: url(../web/img/iconoplanestudios.gif) no-repeat left center; COLOR: #d31145
}
.Ligasimple {
	TEXT-ALIGN: left; WIDTH: 100%
}
.Ligasimple UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1.2em; PADDING-TOP: 0px
}
.Ligasimple UL LI {
	PADDING-BOTTOM: 2px
}
.Ligasimple UL LI A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/bulletgris.gif) no-repeat left center; COLOR: #333333; FONT-WEIGHT: normal; TEXT-DECORATION: underline; PADDING-TOP: 2px
}
.Ligasimple UL LI A:visited {
	COLOR: #333333
}
.Ligasimple UL LI A:hover {
	COLOR: #d31145
}
.ListaVivero {
	TEXT-ALIGN: left; WIDTH: 100%
}
.ListaVivero UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1.2em; PADDING-TOP: 0px
}
.ListaVivero UL LI {
	PADDING-BOTTOM: 2px
}
.ListaVivero UL LI A {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 37px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../web/img/iconovivero.gif) no-repeat left center; COLOR: #333333; FONT-WEIGHT: normal; TEXT-DECORATION: underline; PADDING-TOP: 2px
}
.ListaVivero UL LI A:visited {
	COLOR: #333333
}
.ListaVivero UL LI A:hover {
	COLOR: #7ac142
}
.CampodeTexto {
	BORDER-BOTTOM: #cccccc thin solid; BORDER-LEFT: #cccccc thin solid; FONT-FAMILY: Arial; HEIGHT: 20px; COLOR: #666666; FONT-SIZE: 12px; BORDER-TOP: #cccccc thin solid; BORDER-RIGHT: #cccccc thin solid
}
.TablaBuscador {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 13px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #e4e4e4; PADDING-LEFT: 13px; WIDTH: 100%; PADDING-RIGHT: 13px; HEIGHT: 43px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 13px
}
.BotonBuscar {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 23px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
HR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN-TOP: 17px; MARGIN-BOTTOM: 17px; BORDER-TOP: #d32245 2px dotted; BORDER-RIGHT: medium none
}
.plecagris {
	BORDER-TOP: #666666 2px dotted
}
.vr {
	BORDER-LEFT: red 1px dotted; WIDTH: 1px; HEIGHT: 100%; MARGIN-LEFT: 50%
}
.box {
	BORDER-BOTTOM: green 1px dotted; BORDER-LEFT: green 1px dotted; WIDTH: 650px; HEIGHT: 50px; BORDER-TOP: green 1px dotted; BORDER-RIGHT: green 1px dotted
}
.stepcarousel {
	POSITION: relative; WIDTH: 528px; HEIGHT: 72px; OVERFLOW: scroll
}
.stepcarousel .belt {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 528px; TOP: 0px; LEFT: 0px
}
.stepcarousel .panel {
	MARGIN-TOP: 9px; WIDTH: 180px; FLOAT: left; MARGIN-LEFT: 0px; OVERFLOW: hidden; MARGIN-RIGHT: 7px
}
.accesosDirectos {
	FONT-FAMILY: Arial; COLOR: #999999; FONT-SIZE: 10px
}
.TablaGris {
	BORDER-BOTTOM: #cccccc 0px solid; BORDER-LEFT: #cccccc 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 17px; BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; PADDING-TOP: 0px
}
.TablaGristd {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-COLLAPSE: collapse; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 4px
}
.TablaGristh {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-COLLAPSE: collapse; FONT-FAMILY: Arial; BACKGROUND: #999999; COLOR: #ffffff; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 4px
}
.TablaRojath {
	BORDER-BOTTOM: #d31145 1px solid; BORDER-LEFT: #d31145 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-COLLAPSE: collapse; FONT-FAMILY: Arial; BACKGROUND: #999999; COLOR: #ffffff; BORDER-TOP: #d31145 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d31145 1px solid; PADDING-TOP: 4px
}
.TablaRojatd {
	BORDER-BOTTOM: #d31145 1px solid; BORDER-LEFT: #d31145 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-COLLAPSE: collapse; BORDER-TOP: #d31145 1px solid; BORDER-RIGHT: #d31145 1px solid; PADDING-TOP: 4px
}
.TelefonoContacto {
	BORDER-BOTTOM: #d31145 1px solid; TEXT-ALIGN: justify; BORDER-LEFT: #d31145 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 50px; PADDING-RIGHT: 9px; FONT-FAMILY: Arial, Helvetica; BACKGROUND: url(../web/img/iconotelefono.gif) no-repeat left center; COLOR: #333333; FONT-SIZE: 1.1em; BORDER-TOP: #d31145 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #d31145 1px solid; TEXT-DECORATION: none; PADDING-TOP: 8px
}
.LosMasBuscados {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.LigaLosMasBuscados {
	TEXT-ALIGN: right; FONT-FAMILY: Arial, Helvetica; COLOR: #d31145; MARGIN-LEFT: 15px; FONT-SIZE: 1.1em; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.LigaLosMasBuscados:link {
	COLOR: #000000
}
.LigaLosMasBuscados:visited {
	COLOR: #000000
}
.LigaLosMasBuscados:hover {
	COLOR: #d31145
}
.LigaLosMasBuscados:active {
	COLOR: #000000
}
.TablaServiciosExternos {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #ebedec; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 10px
}
.MenuLista {
	TEXT-ALIGN: left; PADDING-LEFT: 13px; FONT-FAMILY: Arial, Helvetica; MARGIN-BOTTOM: 4px; BACKGROUND: url(../web/img/bulletcuadritogris.gif) no-repeat left center; COLOR: #333333; MARGIN-LEFT: 0px; FONT-SIZE: 1.1em; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.MenuLista:link {
	COLOR: #333333; TEXT-DECORATION: none
}
.MenuLista:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.MenuLista:hover {
	COLOR: #d31145; TEXT-DECORATION: underline
}
.MenuLista:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.TelefonosdeUtilidad {
	FONT-FAMILY: Arial, Helvetica; COLOR: #4b4b4b; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.TelefonosdeUtilidadDigitos {
	FONT-FAMILY: Arial, Helvetica; COLOR: #d1164d; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.TelefonosdeUtilidadTexto {
	FONT-FAMILY: Arial, Helvetica; COLOR: #4b4b4b; FONT-SIZE: 10px
}
.ParticipacionCiudadanaChat {
	FONT-FAMILY: Arial, Helvetica; COLOR: #d1164d; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.ParticipacionCiudadanaChatDatos {
	FONT-FAMILY: Arial, Helvetica; COLOR: #578a21; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.TituloC {
	COLOR: #999999; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.LigaArriba {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 20px; FONT-FAMILY: Arial, Helvetica; BACKGROUND: url(../web/img/bulletarriba.gif) no-repeat left center; COLOR: #d31145; FONT-SIZE: 1em; FONT-WEIGHT: normal; TEXT-DECORATION: underline; PADDING-TOP: 2px
}
.LigaArriba:link {
	COLOR: #d31145
}
.LigaArriba:visited {
	COLOR: #d31145
}
.LigaArriba:hover {
	COLOR: #7ac142
}
.LigaArriba:active {
	COLOR: #d31145
}
